*.iml
.gradle
android/local.properties
android/.idea/caches
android/.idea/caches/.idea/libraries
android/.idea/caches/.idea/modules.xml
android/.idea/caches/.idea/workspace.xml
android/.idea/caches/.idea/navEditor.xml
android/.idea/caches/.idea/assetWizardSettings.xml
android/.idea/caches.DS_Store
android/.idea/caches/build
android/.idea/caches/captures
android/.idea/caches/.externalNativeBuild
android/.idea/caches/.cxx
